.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 73%;
    padding: 1%;  
}
ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #b8b8b8;
}
li {
    padding: 3%;
}
.flexContainer {
    display: flex;
}
.flexContainer div {
    width: 33%;
    padding: 0 0 3% 3%;
}
.workGrid {
    display: grid;
    grid-template-areas: 'item1 item2 item3';
}
.workGrid div {
    text-align: center;
}
.item4 {
    grid-area: 2 / 1 / span 1 / span 3;
}

@media only screen and  (max-width: 1000px){
    .flexContainer {
        flex-direction: column;
    }
    .flexContainer div {
        width: 100%;
    }
    .workGrid {
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        ;
    }
}